

.mainHome{

    background-image: url('https://i.redd.it/24y4a814zy801.jpg');
    height: 100%;
    padding:  20% 2% 10%;

h1, h2{
    color: $primary;
    text-align: center;
    font-size: 2rem;
    text-shadow: #FFF 1px 1px, #FFF -1px 1px, #FFF -1px -1px, #FFF 1px -1px;

}

p{
    font-size: 1rem;
    padding-top: 3rem;
    color: white;
    text-align: center;
    a{
        color: white;
        text-decoration: underline;

    }
    a:hover{
        color: $primary;
        text-decoration: underline;

    }
}


}


@media screen and (min-width: 400px) and (max-width: 830px) {
    .mainHome{
    h1, h2{
        font-size: 3rem;
    }
    p{
        padding-top: 3rem;
    }

}}



@media screen and (min-width: 830px) {
    .mainHome{
        height: 100%6;
        padding: 6% 5%;
        h1, h2{

            font-size: 5rem;
        }
        p{
            font-size: 1.5rem;
            padding: 5rem 20% 0%;

        }

    }}
